label {
  display: inline-block;
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}
      
#about-myself label:not(:last-child),
#contacts li:not(:last-child),
#else,
textarea {
  margin-bottom: 15px;  
}
      
.red-star {
  color: #f00;
}