table {
  margin-bottom: 20px;
}

.first,
.first td,
.second,
.second td,
.second th,
.third,
.third th,
.third td,
.fourth,
.fourth td {
  border: 1px solid #000;
}
      
.first td {
  width: 30px;
  height: 30px;
  text-align: center;
}
     
.second {
  width: 1000px;
}
      
.second,
.second td,
.second th {
  border-collapse: collapse;
  padding: 3px 5px;
}
      
.third {
  width: 600px;
}
      
.third td {
  padding: 6px 5px;
}
      
.bold {
  font-weight: bold;
}
      
.fourth {
  width: 250px;
}
      
.fourth,
.fourth td {
  border-collapse: collapse;
  text-align: center;
  padding: 7px 0;
}